<div class="main-content text-center pt-20h">
  <h1>SongSave</h1>
  <p>Crie Coleções e compartilhe suas músicas preferidas com o mundo!</p>
  <div class="pt-2">
    <a href="/auth/signup" class="btn btn-primary btn-lg"
      >Crie sua conta agora mesmo!</a
    >
    <p>Já tem cadastro? Faça <a href="/auth">login</a>!</p>
  </div>
</div>
