.playlists {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.playlist-card {
  cursor: pointer;
  transition: 200ms;
  padding-top: 10px;
}

.playlist-card:hover {
  background-color: var(--background-color2);
  transform: scale(1.1);
}

.add-button {
  border-radius: 50%;
  color: var(--color1);
  padding: 15px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: 2px solid var(--color1);
}

.add-button i {
  height: 32px;
  width: 32px;
}

.add-button:hover {
  color: var(--background-color);
  background-color: var(--color1);
}
