:root {
  --background-color: #f8f7ff;
  --background-color2: #edebff;
  /* --color1: #9381FF; */
  --color1: #9855ff;
  --color2: #e15634;
  --color3: #34d1bf;
  --color4: #253c78;
  --color5: #ffd8be;
  --color6: #0a0908;
  --color62: #080807;
  --danger: #d54420;
}

.pt-5r {
  padding-top: 5rem;
}

.pt-8r {
  padding-top: 8rem;
}

.pt-10r {
  padding-top: 10rem;
}

.pt-20h {
  padding-top: 20vh;
}

.mh-20 {
  min-height: 20vh;
}

.max-height-100 {
  max-height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--color6);
}

.alert {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.navbar {
  background-color: var(--background-color2);
}

.navbar a {
  color: var(--color6);
  font-size: 1.2rem;
}

a.navbar-brand {
  color: var(--color1);
  font-size: 1.4rem;
}

a.nav-link:hover:not(.dropdown-toggle) {
  /* color: var(--color62); */
  transform: scale(1.1);
  transition: 200ms;
}

a.nav-link.active {
  font-weight: 500;
}

#playlistForm {
  width: 100%;
  max-width: clamp(330px, calc(330px + 10vw), 25vw);
  margin: 0 auto;
}
